/* project colors: 
                    #F7DDC4   body background
                    #FCFAFA   side bar bg
                    #656565   text
                    #ADACAC   text
                    */


body{
    background-color:#F7DDC4 ;
    overflow: hidden;
}

nav{
    background-color: #FCFAFA;
    height:100vh;
}

main{
    height: 100vh;
}

/*search bar style */ 
.container {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    margin-bottom: 1.5rem;
    font-size: 1.2em;
}

.searchInputWrapper {
    position: relative;
    width: 100%;
}

.searchInput {
    width: 100%;
    height: 2rem;
    padding: 0 1rem; 
    border-radius: 2rem;
    border: none;
    transition: transform 0.1s ease-in-out;
}

::placeholder {
    color: #a1a1a1;
    font-size: 0.8em;
}

/* hide the placeholder text on focus */
:focus::placeholder {
    text-indent: -999px
}

.searchInput:focus {
    outline: none;
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
}

.searchInputIcon {
    position: absolute;
    right: 0.8rem;
    top: 0.5rem;
    color: #a1a1a1;
    transition: all 0.1s ease-in-out;
}

.container:focus-within > 
.searchInputWrapper > .searchInputIcon {
    right: 0.2rem;
}

/*end of search bar style */

/*welcome text style*/
#welcome{
    font-size: 1.6em;
    color: #656565;
    margin-left: 12%;
}

#citations{
    font-size: 1em;
    color: #ADACAC;
    margin-left: 12%;
}

/*end of welcome text style*/


/*map style*/

#map { 
    height: 94%;
    width: 98%; 
    margin-top:1%
}


/*end of map style*/