/* project colors: 
                    #F7DDC4   body background
                    #FCFAFA   side bar bg
                    #656565   text
                    #ADACAC   text
                    */


body{
    background-color:#F7DDC4 ;
}

nav{
    background-color: #FCFAFA;
    height:100vh;
    position: fixed;
}

main{
    height: 100vh;
}

label{
    color: #a1a1a1;
}

/*search bar style */ 
.container {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    margin-bottom: 1.5rem;
    font-size: 1.2em;
}

.searchInputWrapper {
    position: relative;
    width: 100%;
}

.searchInput {
    width: 100%;
    height: 2rem;
    padding: 0 1rem; 
    border-radius: 2rem;
    border: none;
    transition: transform 0.1s ease-in-out;
}

::placeholder {
    color: #a1a1a1;
    font-size: 0.8em;
}

/* hide the placeholder text on focus */
:focus::placeholder {
    text-indent: -999px
}

.searchInput:focus {
    outline: none;
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
}

.searchInputIcon {
    position: absolute;
    right: 0.8rem;
    top: 0.5rem;
    color: #a1a1a1;
    transition: all 0.1s ease-in-out;
}

.container:focus-within > 
.searchInputWrapper > .searchInputIcon {
    right: 0.2rem;
}

/*end of search bar style */

/*welcome text style*/
#welcome,#station-name{
    font-size: 1.6em;
    color: #656565;
    margin-left: 12%;
}

#citations{
    font-size: 1em;
    color: #ADACAC;
    margin-left: 12%;
}

/*end of welcome text style*/


/*filtre style*/

.filtrage-box{
    margin-top: 12%;
    margin-left: 12%;
}

.filtrer{ 
    font-size: 1em;
    color: #3b3b3b;   
}


.filtrage-box span {
	position: relative;
    width: 100%;
    color: #3b3b3b; 
}

.zone label:before {
    content: "";
    width: 15px;
    height: 15px;
    background: white;
    box-shadow: 0.5px 0.5px 1px #a1a1a1;
    position: absolute;
    left: 4%;
    top: 16%;
    border-radius: 50%;
}

.zone input[type="radio"]{
	opacity: 0;
	display: inline-block;
	z-index: 100;
	margin: 0;
	padding: 0;
    width: 10%;
	position: relative;
	cursor: pointer;
}

.zone .bullet {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color:#F7DDC4 ;
    left: 0%;
    top: 0px;
    border: 2px solid #ffffff;
    opacity: 0;
    border-radius: 50%;
}

.zone input[type="radio"]:checked ~ .bullet {
	opacity: 1;
}

.temp label:before {
    content: "";
    width: 15px;
    height: 15px;
    background: white;
    box-shadow: 0.5px 0.5px 1px #a1a1a1;
    position: absolute;
    left: 4%;
    top: 16%;
    border-radius: 10%;
}

.temp input[type="checkbox"]{
	opacity: 0;
	display: inline-block;
	z-index: 100;
	margin: 0;
	padding: 0;
    width: 10%;
	position: relative;
	cursor: pointer;
}

.temp .bullet-square {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color:#F7DDC4 ;
    left: 3%;
    top: 0px;
    border: 2px solid #ffffff;
    opacity: 0;
    border-radius: 10%;
}

.temp input[type="checkbox"]:checked ~ .bullet-square {
	opacity: 1;
}


::-webkit-datetime-edit-text { padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: #a1a1a1; }
::-webkit-datetime-edit-day-field { color: #a1a1a1; }
::-webkit-datetime-edit-year-field { color: #a1a1a1; }

/*end of filtre style*/


/*toggle style*/

#toggle-button{
    margin-left: 2%;
    margin-top: 2%;
}

#nav-courbes{
    z-index: 999;
    overflow-y: scroll;
}

/* starting state */
.opened{
    transform: translateX(0); /* move it back to original spot */
    transition: transform 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }
  
/* end state */
.hidden {
    transform: translateX(-100%); /* move it horizontally off the page */
    transition: transform 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}


.courbes .row{
    margin-top: 15%;
}

.courbes .row h1{
    margin-bottom: 15%;
    text-align: center;
}

/*end of toggle style*/






/*map style*/

#map { 
    position: fixed;
    left: 33%;
    height: 94%;
    width: 66%; 
    margin-top:1%
}


/*end of map style*/